@import "tailwindcss" source("../..");


@theme {
  --color-yale-blue: #094A80;
  --color-deep-space-blue: #1E293B;
  --color-mint-leaf: #10B981;
  --color-strawberry-red: #EF4444;
  --font-logo: "Carter One";
  --font-sans: "Inter", sans-serif;
}