<p style="color: green"><%= notice %></p>

<% content_for :title, "New Video Transcription" %>

<div class="max-w-2xl mx-auto p-6">
  <h1 class="text-2xl font-bold text-red-500 mb-6">Nueva Video Transcription</h1>

  <%= render "form", video_transcription: @video_transcription %>

  <div class="mt-6">
    <%= link_to "Volver a video transcriptions", video_transcriptions_path, class: "text-blue-600 hover:text-blue-800 underline" %>
  </div>
</div>

